.container {
  position: relative;
}

.burger {
  display: none;
}

nav {
  width: 100%;

  ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    background-color: $green;
    font-weight: bold;


    li a {

      text-decoration-style: none;
      padding: 10px;
      margin: 10px;
      line-height: 3em;

      &:hover {
        text-decoration: none;
        color: $yellow;

      }

    }
  }
}

@include tablet {
  .burger {
    display: block;
    font-size: 2em;


    &:hover+ul {
      display: block;
      position: absolute;

      background-color: rgba(140, 191, 63, 0.9);

      z-index: 15;
    }
  }

  nav ul {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    padding: 0;
    border: 2px solid $purple;



    li {
      padding: 10px;
    }

    &:hover {
      display: block;
      position: absolute;
      z-index: 16;

    }

  }

}

@include mobile {
  .burger {
    display: block;
    font-size: 2em;

    &:hover+ul {
      display: block;
      position: absolute;

    }
  }



  nav ul {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    left: 1px;
    padding: 0;





    li {
      padding: 10px;
    }

    &:hover {
      display: block;
      position: absolute;
    }

  }
}